.buttonIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.225s;
  padding: 2px !important;
  &:hover {
    background-color: var(--bs-gray-300);
  }
}
